<div class="container">

  <mat-card>
    <form [formGroup]="addFamilyMember" (ngSubmit)="submit()">
      <mat-card-content>
        <div fxLayout="row wrap" fxLayoutGap="2%" fxLayout.lt-md="column">

          <mat-form-field fxFlex="48%">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>Middle Name</mat-label>
            <input matInput formControlName="middleName">
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>Qualification</mat-label>
            <input matInput formControlName="qualification">
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>Mobile Number</mat-label>
            <input matInput formControlName="mobileNumber">
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>Age</mat-label>
            <input matInput formControlName="age">
          </mat-form-field>

          <mat-checkbox [formControl]="disableSelect" fxFlex="48%">is Dependent?</mat-checkbox>

          <mat-form-field fxFlex="48%">
            <mat-label>Relationship</mat-label>
            <mat-select formControlName="relationshipId">
              <mat-option *ngFor="let relationship of relationshipIdOptionsData" [value]="relationship.id">
                {{relationship.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>Marital Status</mat-label>
            <mat-select formControlName="maritalStatusId">
              <mat-option *ngFor="let maritalstatus of maritalStatusIdOptionsData" [value]="maritalstatus.id">
                {{maritalstatus.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="genderId">
              <mat-option *ngFor="let gender of genderIdOptionsData" [value]="gender.id">
                {{gender.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>Profession</mat-label>
            <mat-select formControlName="professionId">
              <mat-option *ngFor="let profession of professionIdOptionsData" [value]="profession.id">
                {{profession.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="48%">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </div>

      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
        <button mat-raised-button color="primary">Create</button>
      </mat-card-actions>

    </form>

  </mat-card>

</div>